#thankYou {
    width: 521px;
    height: 94px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 80px;
    font-style: italic;
    line-height: 94px;
    color: #FFFFFF;
    position: absolute;
    left: 441px;
    top: 92px;
}

#thankYouBanner{
    width: 900px;
    height: 234px;
    background-color: #139DD8;
    position: absolute;
    top:25%;
    left:10%;
}

.thankUser{
    width: 600px;
    height: 159px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 45px;
    font-style: italic;
    line-height: 53px;
    color: #FFFFFF;
    text-align: center;
    position:relative;
    left:30%;
    top:15%;
}

#userImage{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: fixed;
    top: 20%;
    left: 3%;
}

#deleteAccount {
    width: 700px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: large;
    font-style: italic;
    line-height: normal;
    color: #FFFFFF;
    position: fixed;
    bottom: 12%;
    right: 4%;
}

#social{
    width: 700px;
    height: 180px;
    background-color: #139DD8;
    position: fixed;
    top: 58%;
    right: 4%;
    text-align: center;
    border: 2px solid #FFFFFF;
    font-size: large;
}

.connectedImage{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 2;
    display: inline;
}