#logos{
    width: 100%;
    position: fixed;
    bottom: 8%;
    left:12.5%;
}

#logos img {
    position: relative;
    margin-left: 15px;
}

#tagline{
    width: 553px;
    height: 140px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 60px;
    font-style: italic;
    line-height: 70px;
    color: #FFFFFF;
    float: right;
    margin-bottom: 0;
}

#subtext{
    width: 100%;
    height: 27px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 15%;
    left: 1%
}

#rect{
    width: 80%;
    height: 125px;
    background-color: #139DD8;
    margin-left: 10%;
    position: fixed;
}

#rect p{
    font-family: "Akzidenz Grotesk BQ";
    font-size: 45px;
    font-style: italic;
    line-height: 53px;
    color: #FFFFFF;
    text-align: center;
    top:25%;
}

#triangle{
    width: 338px;
    height: 143px;
    margin-left: 10%;
    position: relative;
}
#immediateBanner{
    width: 100%;
    height: 106px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 45px;
    font-style: italic;
    text-align: center;
    line-height: 53px;
    color: #ffffff;
}

#returnBanner{
    width: 102%;
    height: 234px;
    background-color: #139DD8;
    position: fixed;
    z-index: 1;
    top: 41%;
    left: -1%;
    text-align: center;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 45px;
    font-style: italic;
    line-height: 53px;
    color: #ffffff;
}


#register{
    width: 20%;
    height: 60px;
    border: 2px solid #FFFFFF;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    color: #FFFFFF;
    background: #3b5998;
    position: fixed;
    display: inline-block;
    left: 40%;
    top: 40%;
}

#dataProtection{
    width: 100%;
    height: 24px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    position: fixed;
    top: 50%;
    color: #C4C4C4;
}

#logos{
    width: 100%;
    position: fixed;
    bottom: 10%;
    left:4%;

}

#logos img {
    position: relative;
    margin-left: 4%;
}

#userImage{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    display: block;
    margin: auto;
    bottom:70px;
    z-index: 2;
}

#deleteAccount{
    font-size: large;
    background-color: crimson;
    width: 15%;
    margin-top: 7%;
    display: inline;
}

#refreshAccount{
    font-size: large;
    background-color: #3b5998;
    width: 15%;
    margin-top: 7%;
    display: inline;
}

#disclaimer{
    font-size: large;
    display: inline
}