html {
    font-family:arial;
    color:black;
}

h1
{
    font-size:4em;
}
h2
{
    font-size:3em;
}
#content
{
    padding-left:80px;
    padding-right:80px;
}
#spacer
{
    margin-top:200px;
}
#footer
{
    position:relative;
    margin-top:20px;
    width:100%;
}
#footer img
{
    display:block;
    margin:auto;
    width:50%;
}

#configuration input
{
    position:relative;
    font-size:3em;
}

.configLabel
{
    text-align:right;
    font-size:3em;
}

#configuration input[type=button] {
    border:0px;
    height:80px;
}

