.menu-section {
    margin-bottom: 20px;
}

.menu-section-head {
    margin-bottom: 20px;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item-title {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.social-greeting {
    font-size: 40px;
    font-weight: 500;
}

.social-friends-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-friends-list li {
    display: inline-block;
    margin-right: 20px;
}

.friend-avatar {
    display: block;
    height: 125px;
    width: 125px;
}

.page-title {
    font-family: "Akzidenz Grotesk BQ";
    font-size: 50px;
    text-align: center;
    line-height: 57px;
    letter-spacing: 5px;
    color: #FFFFFF;
}

.footer-text {
    font-family: "Akzidenz Grotesk BQ";
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 3px;
    color: #FFFFFF;
}

/* Pseudo-level ordered images */

.person-0-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 91px;
    left: 79px;
    z-index: 1;
}

.person-0-name {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 230px;
    left: 79px;
    text-align: center;
    z-index: 3;
}

.person-1-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 142px;
    left: 818px;
    z-index: 1;
}

.person-1-name {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 280px;
    left: 818px;
    text-align: center;
    z-index: 3;
}

.person-2-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 386px;
    left: 27px;
    z-index: 1;
}

.person-2-name {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 526px;
    left: 27px;
    text-align: center;
    z-index: 3;
}

.person-3-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 231px;
    left: 461px;
    z-index: 1;
}

.person-3-name {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 371px;
    left: 461px;
    text-align: center;
    z-index: 3;
}

.person-4-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 480px;
    left: 352px;
    z-index: 1;
}

.person-4-name {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 620px;
    left: 352px;
    text-align: center;
    z-index: 3;
}

.person-5-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 480px;
    left: 771px;
    z-index: 1;
}

.person-5-name {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 620px;
    left: 771px;
    text-align: center;
    z-index: 3;
}
/* Images for web */

.person-0-img-web {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 309px;
    left: 437px;
    z-index: 1;
}

.person-1-img-web {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 16px;
    left: 462px;
    z-index: 1;
}

.person-2-img-web {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 87px;
    left: 713px;
    z-index: 1;
}

.person-3-img-web {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 334px;
    left: 824px;
    z-index: 1;
}

.person-4-img-web {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 602px;
    left: 730px;
    z-index: 1;
}

.person-5-img-web {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 648px;
    left: 462px;
    z-index: 1;
}

.person-6-img-web {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 602px;
    left: 193px;
    z-index: 1;
}

.person-7-img-web {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 334px;
    left: 100px;
    z-index: 1;
}

.person-8-img-web {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 87px;
    left: 197px;
    z-index: 1;
}

/* Line CSS - Web */

#line-0-1-web {
    left: 510px;
    top: 117px;
    height: 192px;
}

#line-0-2-web {
    left: 536px;
    top: 254px;
    width: 227px;
    -ms-transform: rotate(-47deg);
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
}

#line-0-3-web {
    left: 587px;
    top: 386px;
    width: 237px;
}

#line-0-4-web {
    left: 540px;
    top: 515px;
    width: 256px;
    -ms-transform: rotate(-137deg);
    -webkit-transform: rotate(-137deg);
    transform: rotate(-137deg);
}

#line-0-5-web {
    left: 510px;
    top: 460px;
    height: 188px;
}

#line-0-6-web {
    left: 234px;
    top: 516px;
    -ms-transform: rotate(-47deg);
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    width: 255px;
}

#line-0-7-web {
    left: 200px;
    top: 388px;
    width: 237px;
}

#line-0-8-web {
    left: 248px;
    top: 253px;
    width: 239px;
    -ms-transform: rotate(-137deg);
    -webkit-transform: rotate(-137deg);
    transform: rotate(-137deg);
}

#box-0-1-web {
    left: 452px;
    top: 176px;
}

#box-0-2-web {
    top: 241px;
    left: 599px;
}

#box-0-3-web {
    top: 366px;
    left: 636px;
}

#box-0-4-web {
    top: 485px;
    left: 899px;
}

#box-0-5-web {
    top: 547px;
    lefT: 451px;
}

#box-0-6-web {
    top: 485px;
    left: 300px;
}

#box-0-7-web {
    top: 366px;
    left: 241px;
}

#box-0-8-web {
    top: 241px;
    left: 300px;
}

/* Line CSS */

.connector {
    position: fixed;
    box-sizing: border-box;
    height: 3px;
    border: 2px solid #139DD8;
    background-color: #139DD8;
}

.connector-hidden
.connector-box-hidden {
    visibility: hidden;
}

.connector-box {
    position: fixed;
    box-sizing: border-box;
    width: 133px;
    min-height: 37px;
    background-color: #139DD8;
    text-align: center;
    overflow: visible;
}

.connector-box-text {
    width: 102px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
}

#line-0-1 {
    width: 627px;
    left: 226px;
    top: 155px;
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}

#line-0-2 {
    width: 149px;
    left: 53px;
    top: 312px;
    -ms-transform: rotate(-78deg);
    -webkit-transform: rotate(-78deg);
    transform: rotate(-78deg);
}

#line-0-3 {
    width: 263px;
    left: 217px;
    top: 228px;
    -ms-transform: rotate(13deg);
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
}

#line-0-4 {
    width: 332px;
    left: 127px;
    top: 362px;
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
}

#line-1-3 {
    width: 235px;
    left: 609px;
    top: 261px;
    -ms-transform: rotate(-11deg);
    -webkit-transform: rotate(-11deg);
    transform: rotate(-11deg);
}

#line-1-5 {
    width: 196px;
    left: 789px;
    top: 385px;
    -ms-transform: rotate(-77deg);
    -webkit-transform: rotate(-77deg);
    transform: rotate(-77deg);
}

#line-2-4 {
    width: 198px;
    left: 163px;
    top: 521px;
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

#line-3-4 {
    width: 130px;
    left: 417px;
    top: 433px;
    -ms-transform: rotate(-68deg);
    -webkit-transform: rotate(-68deg);
    transform: rotate(-68deg);
}

#line-3-5 {
    width: 247px;
    left: 561px;
    top: 436px;
    -ms-transform: rotate(38deg);
    -webkit-transform: rotate(38deg);
    transform: rotate(38deg);
}

#line-4-5 {
    width: 269px;
    left: 502px;
    top: 554px;
    -ms-transform: rotate(175deg);
    -webkit-transform: rotate(175deg);
    transform: rotate(175deg);
}

#box-0-1 {
    top: 130px;
    left: 510px;
}

#box-0-2 {
    top: 287px;
    left: 66px;
}

#box-0-3 {
    top: 199px;
    left: 289px;
}

#box-0-4 {
    top: 343px;
    left: 230px;
}

#box-1-3 {
    top: 230px;
    left: 660px;
}

#box-1-5 {
    top: 358px;
    left: 824px;
}

#box-2-4 {
    top: 500px;
    left: 190px;
}

#box-3-4 {
    top: 425px;
    left: 416px;
}

#box-3-5 {
    top: 400px;
    left: 638px;
}

#box-4-5 {
    top: 535px;
    left: 578px;
}