.menu-section {
    margin-bottom: 20px;
}

.menu-section-head {
    margin-bottom: 20px;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item-title {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.social-greeting {
    font-size: 40px;
    font-weight: 500;
}

.social-friends-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-friends-list li {
    display: inline-block;
    margin-right: 20px;
}

.friend-avatar {
    display: block;
    height: 125px;
    width: 125px;
}

.page-title {
    font-family: "Akzidenz Grotesk BQ";
    font-size: 50px;
    text-align: center;
    line-height: 57px;
    letter-spacing: 5px;
    color: #FFFFFF;
}

.footer-text {
    font-family: "Akzidenz Grotesk BQ";
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 3px;
    color: #FFFFFF;
}

/* Pseudo-level ordered images */

.person-0-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 111px;
    left: 89px;
}

.person-1-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 162px;
    left: 848px;
}

.person-2-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 406px;
    left: 37px;
}

.person-3-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 251px;
    left: 471px;
}

.person-4-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 510px;
    left: 362px;
}

.person-5-img {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 500px;
    left: 781px;
}

/* Line CSS */

.connector {
    position: fixed;
    box-sizing: border-box;
    height: 3px;
    border: 2px solid #139DD8;
    background-color: #139DD8;
}

.connector-hidden
.connector-box-hidden {
    visibility: hidden;
}

.connector-box {
    position: fixed;
    box-sizing: border-box;
    width: 133px;
    min-height: 37px;
    background-color: #139DD8;
    text-align: center;
    overflow: visible;
}

.connector-box-text {
    width: 102px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
}

#line-0-1 {
    width: 627px;
    left: 236px;
    top: 175px;
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}

#line-0-2 {
    width: 149px;
    left: 63px;
    top: 332px;
    -ms-transform: rotate(-78deg);
    -webkit-transform: rotate(-78deg);
    transform: rotate(-78deg);
}

#line-0-3 {
    width: 263px;
    left: 227px;
    top: 248px;
    -ms-transform: rotate(13deg);
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
}

#line-0-4 {
    width: 332px;
    left: 137px;
    top: 382px;
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
}

#line-1-3 {
    width: 235px;
    left: 619px;
    top: 281px;
    -ms-transform: rotate(-11deg);
    -webkit-transform: rotate(-11deg);
    transform: rotate(-11deg);
}

#line-1-5 {
    width: 196px;
    left: 799px;
    top: 405px;
    -ms-transform: rotate(-77deg);
    -webkit-transform: rotate(-77deg);
    transform: rotate(-77deg);
}

#line-2-4 {
    width: 198px;
    left: 173px;
    top: 541px;
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

#line-3-4 {
    width: 130px;
    left: 427px;
    top: 453px;
    -ms-transform: rotate(-68deg);
    -webkit-transform: rotate(-68deg);
    transform: rotate(-68deg);
}

#line-3-5 {
    width: 247px;
    left: 571px;
    top: 456px;
    -ms-transform: rotate(38deg);
    -webkit-transform: rotate(38deg);
    transform: rotate(38deg);
}

#line-4-5 {
    width: 269px;
    left: 512px;
    top: 574px;
    -ms-transform: rotate(175deg);
    -webkit-transform: rotate(175deg);
    transform: rotate(175deg);
}

#box-0-1 {
    top: 143px;
    left: 520px;
}

#box-0-2 {
    top: 307px;
    left: 76px;
}

#box-0-3 {
    top: 219px;
    left: 299px;
}

#box-0-4 {
    top: 363px;
    left: 240px;
}

#box-1-3 {
    top: 241px;
    left: 670px;
}

#box-1-5 {
    top: 378px;
    left: 834px;
}

#box-2-4 {
    top: 520px;
    left: 200px;
}

#box-3-4 {
    top: 418px;
    left: 426px;
}

#box-3-5 {
    top: 420px;
    left: 648px;
}

#box-4-5 {
    top: 555px;
    left: 588px;
}