@font-face {
  font-family: "Akzidenzgrotesk";
  font-weight: 800;
  src: url("akzidenzgrotesk_super.otf") format("opentype");
}
@font-face {
  font-family: "Akzidenzgrotesk";
  font-style: italic;
  font-weight: 800;
  src: url("akzidenzgrotesk_super_italic.otf") format("opentype");
}
@font-face {
  font-family: "Akzidenzgrotesk";
  font-style: italic;
  font-weight: 600;
  src: url("akzidenzgrotesk_medium_italic.otf") format("opentype");
}
@font-face {
  font-family: "Akzidenzgrotesk";
  font-weight: 400;
  src: url("akzidenzgrotesk.otf") format("opentype");
}
@font-face {
  font-family: "Akzidenzgrotesk";
  font-weight: 200;
  src: url("akzidenzgrotesk_light.otf") format("opentype");
}
@font-face {
  font-family: "Akzidenzgrotesk";
  font-weight: 200;
  font-style: italic;
  src: url("akzidenzgrotesk_light_italic.otf") format("opentype");
}

@font-face {
  font-family: "helvetica condensed";
  src: url("helvetica_condensed.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "helvetica condensed";
  src: url("helvetica_condensed_bold.otf") format("opentype");
  font-weight: 800;
}

html { height: 100%; }
body {
  font-family: Akzidenzgrotesk;
  background: #292929;
  text-align: center;
  overflow: hidden;
}

a {
  color: #fff;
}


h1 {
  display: inline-block;
  margin: 91px 0 0 0px;
  background: -webkit-radial-gradient(30% 90%, #129dd8, rgba(242, 194, 213, 0) 40%), -webkit-linear-gradient(85.5deg, #0f74a1 54%,rgba(232, 42,132,0) 54%), -webkit-radial-gradient(center 0, #129dd8 0%, #129dd8 80%);
  text-transform: uppercase;
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 10px 0 0;
  font-size: 133px;
  font-style: italic;
}


h1.dollar {
  position: absolute;
  left: 56px;
  top: 26px;
  font-size: 144px;
  margin: 0;

  background: -webkit-radial-gradient(30% 90%, #129dd8, rgba(242, 194, 213, 0) 40%), -webkit-linear-gradient(85.5deg, #0f74a1 54%,rgba(232, 42,132,0) 54%), -webkit-radial-gradient(center 0, #129dd8 0%, #129dd8 80%);
  -webkit-background-clip: text;
  color: transparent;
  font-style: normal;
  line-height: normal;
}


h1.percent {
  position: absolute;
  left: 56px;
  top: 26px;
  font-size: 144px;
  margin: 0;

  -webkit-background-clip: text;
  color: transparent;
  font-style: normal;
  line-height: normal;
}


h2 {
  margin: -30px 0 60px 0;
  font-style: italic;
  font-size: 50px;
  color: #fff;
  font-weight: 600;
}


h3 {
  color: #fff;
  font-weight: 200;
  font-style: italic;
  margin: 0 0 130px 0;
  padding: 0;
  line-height: 50px;
  font-size: 30px;
}


.percent-off {
  float: right;
  margin-top: 25px;
  font-family: 'helvetica condensed';
  font-weight: 800;
}


.percent-off:before {
  content: "%";
  font-size: 82px;
  line-height: 78px;
  display: block;
}
.percent-off:after {
  content: "off";
  display: block;
  font-size: 42px;
  line-height: 36px;
}


.logo {
  background: url(newaer.png) no-repeat;
  background-size: contain;
  width: 140px;
  height: 55px;
  margin: 90px auto 0 auto;
}


.coupon {
  position: relative;
  margin: 41px auto;
  color: #fff;
  text-align: left;
  line-height: 48px;
  font-style: italic;
}

.page0 {
  background-image: url(newaer_big.png);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 50% 50%;
}

.page1 .coupon {
  background: #1e1e1e;
  border-radius: 10px;
  padding: 42px 27px 60px 183px;
  width: 680px;
  height: 130px;
  line-height: 70px;
  font-size: 60px;
}

.page2 .coupon {
  background: #1e1e1e;
  border-radius: 10px;
  width: 460px;
  height: 170px;
  padding: 25px 40px 40px 359px;
  font-size: 25px;
}

.page2 .coupon a {
  display: block;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px 0 0 0;
}
.page2 .coupon a.yes {
  color: #fff;
  font-family: 'helvetica condensed';
  font-weight: 200;
  font-style: normal;
  background: -webkit-linear-gradient(#129dd8 45%, #0f74a1 55%);
  font-size: 34px;
  padding: 12px 40px 2px 40px;
}
.page2 .coupon a.no {
  color: #c2c2c2;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding: 7px 20px;
}


