#bar{
    width: 10%;
    height: 70px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 60px;
    font-style: italic;
    line-height: 70px;
    float:right;
    color: #FFFFFF;
    position: fixed;
    margin-left:85%;
    margin-top:0;

}

#recommendation{
    display:inline-block;
}

#logos{
    width: 100%;
    position: fixed;
    bottom: 10%;
    left:4%;
}

#logos img {
    position: relative;
    margin-left: 4%;
}

#userImage{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: fixed;
    top: 20%;
    left: 65%;

}

#welcomeBanner{
    width: 608px;
    height: 160px;
    background-color: #139DD8;
    top: 30%;
    left: 5%;
    position: fixed;
}

#welcomeBanner p{
    width: 521px;
    height: 160px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    bottom: 15%;
    left: 7%

}

#suggestion {
    width: 95%;
    height: 92px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 40px;
    font-style: italic;
    text-align: center;
    line-height: 46px;
    color: #FFFFFF;
    top: 55%;
    position: fixed;

}
#triangle{
    position: absolute;
    bottom: 100%;
}