.menu-section {
    font-size: .8125em;
}

.menu-section-head {
    margin-bottom: .62rem;
}

.menu-item {
    margin-bottom: .62rem;
}

.menu-item-title {
    display: block;
    font-weight: 700;
    margin-bottom: .31rem;
}

.social-greeting {
    font-size: 2.5rem;
    font-weight: 500;
}

.social-friends-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-friends-list li {
    display: inline-block;
    margin-right: .62rem;
}

.friend-avatar {
    display: block;
    height: 7rem;
    width: 7rem;
}