#vip{
    width: 100%;
    height: 141.34px;
    background-color: rgba(0,0,0,0);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 150px;
    color: #ffffff;
    position: fixed;
}

#sparkLounge{
    width: 100%;
    height: 57px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 50px;
    text-align: center;
    position: fixed;
    top: 25%;
    line-height: 57px;
    letter-spacing: 5px;
    color: #FFFFFF;
}

#atCapitalFactory{
    width: 100%;
    height: 35px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 3px;
    color: #FFFFFF;
    position:absolute;
    top:55%;

}

#separator{
    width:100%;
    position:fixed;
    display:inline-block;
    margin-top:25%;
    margin-bottom:auto
}

#page1Logo{
    width: 92px;
    height: 103px;
    margin-left:12.5%;
}

#rect1{
    width: 28%;
    height: 2px;
    background-color: #FFFFFF;
    float: left;
    margin-top:50px;
    margin-left: 5%;
}
#rect2{
    width: 28%;
    height: 2px;
    background-color: #FFFFFF;
    float:right;
    margin-top:50px;
    margin-right: 5%;
}

#logos{
    width: 100%;
    position: fixed;
    bottom: 27%;
    left:12.5%;
}

#logos img {
    position: relative;
    margin-left: 15px;
}


