


#banner{
    width: 80%;
    height: 160px;
    background-color: #139DD8;
    top: 70%;
    left: 10%;
    position: fixed;
}

#banner p{
    width: 80%;
    height: 160px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 72px;
    line-height: 90px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    bottom: 15%;
    left: 7%

}

#triangle{
    position: relative;
    bottom: 12em;
    width: 8rem;
    height: 4rem;
}


.menu-section {
    margin-bottom: 0.825rem;
}

.menu-section-head {
    margin-bottom: 0.62rem;
}

.menu-item {
    margin-bottom: 0.62rem;
}

.menu-item-title {
    display: block;
    font-weight: 700;
    margin-bottom: 0.31rem;
}

.queue-greeting {
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 3em;
    margin-top: -4rem;
    margin-bottom: 1rem;
}

.queue-list {
    list-style: none;
    text-align: center;
}

.queue-list li {
    display: inline-flex;
    width: 33%;
    background-color: rgba(203, 203, 203, 0.5);
    text-align: center;
    padding: 0.5rem;
}

.queue-list h3{
    margin-top: 3rem;
}

.queue-list:first-child li{
    background-color: #1c94c4;
}

#position{
    margin-top: 3rem;
    margin-right: 1rem;
}

.queue-secondary-list {
    list-style: none;
    margin: 2%;
    margin-top:10%;
    padding: 0;
    width: 100%;
    text-align: left;
}

.queue-secondary-list li {
    display: -webkit-box;
    margin-right: 2.5rem;
    margin-top: 1rem;
    width: 30rem;
}


.queue-secondary-list h5{
    margin:auto;
    margin-top: 3rem;
}

.queue-secondary-list th,
.queue-secondary-list p{
    margin: auto;
}

.queue-secondary-list p{
    margin-left:0 !important;
    margin-right:0 !important;
}

.queue-secondary-list p{
    margin-top: 1rem;
}

.friend-avatar {
    display: block;
    height: 130px;
    width: 130px;
}

.queue-avatar {
    height: 75px;
    width: 75px;
}

.spotlight-image {
    display: block;
    height: 15em;
    width: 15em;
    margin: auto;
    margin-top: 3em;
}

.spotlight-greeting {
    font-size: 2em;
    font-weight: 300;
    margin: auto;
    text-align: center;
}

.spotlight-social {
    font-size: 30px;
    font-weight: 300;
    margin-left: 15%;
}

.list-header th{
    margin:0;
    padding: 5px;
}

.queue-secondary-list td{
    padding: 5px;
}



.queue-secondary-list tbody tr{
    background-color: rgba(203, 203, 203, 0.5);
}

.queue-secondary-list tbody tr:nth-child(even){
    background-color: rgba(30, 30, 30, 0.5);
}


#removeFromQueue{
    width: 10rem;
    height: 2rem;
    border: 2px solid #FFFFFF;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 1.25rem;
    background: crimson;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top:1em;
}
