
#banner{
    width: 80%;
    height: 7rem;
    background-color: #139DD8;
    top: 30rem;
    left: 10%;
    position: fixed;
}

#banner p{
    width: 80%;
    height: 7rem;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 4.5rem;
    line-height: 5.25rem;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    left: 7%;
    margin: 0;
    margin-top: 1rem;

}

#triangle{
    position: relative;
    bottom: 12em;
    width: 8rem;
    height: 4rem;
}

.menu-section {
    margin-bottom: 0.825rem;
}

.menu-section-head {
    margin-bottom: 0.62rem;
}

.menu-item {
    margin-bottom: 0.62rem;
}

.menu-item-title {
    display: block;
    font-weight: 700;
    margin-bottom: 0.31rem;
}

.queue-greeting {
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 3em;
    margin-bottom: 1rem;
}

.queue-list {
    list-style: none;
    text-align: center;
}

.queue-list li {
    display: inline-flex;
    width: 33%;
    background-color: rgba(203, 203, 203, 0.5);
    text-align: center;
    padding: 0.5rem;
}

.queue-list h3{
    margin-top: 3rem;
}

.queue-list:first-child li{
    background-color: #1c94c4;
}

.friend-avatar {
    display: block;
    height: 130px;
    width: 130px;
    margin: auto;
}

#position {
    margin-top: 3rem;
    margin-right: 1rem;
}
