#noDevicesFooter {
    width: 1026px;
    height: 141px;
    background-color: #139DD8;
}

#noDevicesFooterText{
    width: 979px;
    height: 106px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 45px;
    font-style: italic;
    text-align: center;
    line-height: 53px;
    color: #FFFFFF;
}

#sparkLounge{
    width: 740.2px;
    height: 57px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 50px;
    text-align: center;
    line-height: 57px;
    letter-spacing: 5px;
    color: #FFFFFF;
}

#atCapitalFactory{
    width: 802px;
    height: 35px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 3px;
    color: #FFFFFF;
}

#page1Logo{
    width: 92px;
    height: 103px;
    display: block;
    margin: auto;
}