<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configUrl</key>
	<string>https://beacon-bar-file-server.herokuapp.com/newaer</string>
	<key>configShortName</key>
	<string>newaer</string>
	<key>configFullName</key>
	<string>NewAer Demo</string>
	<key>configDescription</key>
	<string>This is a NewAer themed Kiosk configuration.  Client devices can have a coupon sent to them through Passbook/Wallet.</string>
	<key>newaerEnable</key>
	<true/>
	<key>beaconEnable</key>
	<false/>
	<key>hostSupport</key>
	<true/>
	<key>hostPages</key>
	<dict>
		<key>noDevicesPage</key>
		<string>nodevices.html</string>
		<key>inRangePage</key>
		<string>inrangedevices.html</string>
		<key>immediatePage</key>
		<string>closedevice.html</string>
	</dict>
	<key>clientPages</key>
	<dict>
		<key>configPage</key>
		<string>configX.html</string>
	</dict>
	<key>hostFiles</key>
	<array>
		<string>Pawplanet.pkpass</string>
		<string>akzidenzgrotesk.otf</string>
		<string>akzidenzgrotesk_light.otf</string>
		<string>akzidenzgrotesk_light_italic.otf</string>
		<string>akzidenzgrotesk_medium_italic.otf</string>
		<string>akzidenzgrotesk_super.otf</string>
		<string>akzidenzgrotesk_super_italic.otf</string>
		<string>closedevice.html</string>
		<string>finisheddeal.html</string>
		<string>helvetica_condensed.otf</string>
		<string>helvetica_condensed_bold.otf</string>
		<string>inrangedevices.html</string>
		<string>jquery.min.js</string>
		<string>newaer.js</string>
		<string>newaer.png</string>
		<string>newaer_big.png</string>
		<string>nodevices.html</string>
		<string>sendingdeal.html</string>
		<string>style.css</string>
	</array>
	<key>clientFiles</key>
	<array>
		<string>background.png</string>
		<string>config.html</string>
		<string>ipad-styles.css</string>
		<string>iphone-styles.css</string>
		<string>jquery.min.js</string>
		<string>newaer.js</string>
		<string>newicon_blue.png</string>
		<string>other-styles.css</string>
	</array>
</dict>
</plist>
