#logos{
    width: 100%;
    position: fixed;
    bottom: 3%;
    display: inline-flex;
}

#logos img {
    margin:auto;
}

#logo{
    width: 20%;
    display: inline-flex;
}

#banner{
    width: 80%;
    height: 160px;
    background-color: #139DD8;
    top: 50%;
    left: 10%;
    position: fixed;
}

#banner p{
    width: 80%;
    height: 160px;
    font-family: "Akzidenz Grotesk BQ";
    font-size: 72px;
    line-height: 90px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    bottom: 15%;
    left: 7%

}

#triangle{
    position: absolute;
    bottom: 100%;
}